@CHARSET "ISO-8859-1";

* {
	font-family: Arial;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 12px !important;
}

div#cabecalho {
	margin-top: 10px;
	margin-bottom: 20px;
}

.semBorda tr, .semBorda td {
	border: none !important;
}

.btt {
	margin-left: 10px;
}

.footer {
	font-style: italic;
	text-align: center; 
	width: 100%;
}
.trademark
{
	height: 200px;
	text-align: center;
}

h1
{
	text-align: center;
}
.acabando{  
    background-color: #F5DA81!important;  
}